anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy==0.7.0
certifi
cffi
charset-normalizer
comm
contourpy==1.0.7
cryptography
cycler==0.11.0
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
flit_core
fonttools==4.39.0
idna
importlib-metadata
importlib-resources==5.12.0
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib==1.2.0
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver==1.4.4
lxml
MarkupSafe
matplotlib==3.7.1
matplotlib-inline
mistune
nbclassic 
nbclient
nbconvert 
nbformat 
nctpy==1.0.0.post0
nest-asyncio
network-control==0.0.5
neuromaps==0.0.3
nibabel==5.0.1
nilearn==0.10.0
notebook
notebook_shim 
numpy==1.24.2
packaging 
pandas==1.5.3
pandocfilters 
parso
patsy==0.5.3
pexpect
pickleshare 
Pillow==9.4.0
platformdirs 
ply==3.11
prometheus-client
prompt-toolkit
psutil
ptyprocess 
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyrsistent
PySocks 
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash
sip
six
sniffio
soupsieve 
stack-data
statsmodels==0.13.5
terminado
threadpoolctl==3.1.0
tinycss2 
toml
tomli
tornado
tqdm==4.65.0
traitlets
typing_extensions
urllib3
wcwidth 
webencodings==0.5.1
websocket-client
widgetsnbextension 
zipp 
